.about {
    /* overflow-x: hidden; */
    background-color: white;
  }
  
  .aboutConatinertwo{
    margin: 0% 14% 0% 14%;
    /* padding-right: 3.5%; */
    margin-top: 70px;
  }
  
  
  .fullViewportImg {
    width: 100vw; 
    width: 100%;
  }
  .aboutusOne{
    display: flex;
    text-align: left;
    justify-content: center; 
    align-items: center;
    gap: 50px;
  }
  
  .mulish-aboutusTextOne {
  }

  .mulish-aboutusTextTwo {
  }

   .aboutusTextOne{
    font-size: calc(1.35rem + 1.2vw);
    font-weight: 700;
    /* background-color: red; */
  }
  .aboutusTextTwo{
    /* font-size: 10px; */
    color:rgba(0, 0, 0, 0.5);
  }


  @media only screen and (min-width: 100px) and (max-width: 800px)   {
  .aboutusOne{
    display: grid;
    grid-template-columns:repeat(1,1fr) ;
    gap: 10px;
    margin: 2%;
  }
  .aboutConatinertwo{
    width: 100%;
    margin: 0% 14% 0% 14%;
    /* padding-right: 3.5%; */
    margin-top: 70px;
  }
  }

/* 3rd */
  .container-three{
    margin: 0% 14% 0% 14%;
  }

.container_three{
  display: flex;
  gap: 20px;
  /* font-size: 10px; */
  
  text-align: left;
}

.container_threesub{
  display: flex;
  align-items: center;
  /* background-color: black; */
}
.imgperson{
  width: 3vw;
  border-radius : 50%;
}
.container_threesubPosition{
  margin: 0px 10px;
}

@media only screen and (min-width: 100px) and (max-width: 800px)   {
  .container_three{
    display: grid;
    grid-template-columns:repeat(1,1fr) ;
  }
  }


/*footer */
.aboutcontainer-four{
  display: flex;
  text-align: left;
  margin: 50px 14% 0% 14%;
  /* gap: 2%;   */
  justify-content: space-between;
  /* background-color: red; */
}
.aboutcontainer-subfour{
  display: flex;
  /* border: 1px solid; */
   /* justify-content: center; */
   gap: 10px;
  align-items: center; 
  /* font-size:9px; */
  color: rgba(0, 0, 0, 0.5);
  margin-right: 15%;
  margin-top: -20px;
}
input[type="text"]::placeholder {
  /* font-size: 10submitbtnpx; */
  font-weight: normal; 
}
.formdata{
  /* font-size: 10px; */
  color: rgba(0, 0, 0, 0.5);
  font-weight: normal; 
  padding:13px 10px;
  border-Radius:5px;
  border: 1px solid #ccc;
  width: calc(100% - 22px);
}
.formdata:focus{
  border-color: green;
}
/* 2 */
.containerfooter{
  margin: 50px 20% 0% 14%;
  display: flex;
  /* background-color: red; */
  
}
.containerfooter>div{
  display: flex;
  width: 100%;
  justify-content:space-around;
  /* font-size: 8px; */
  text-align: left;
  /* background-color: pink; */
}
.containerfooterLast{
  margin: 50px 15% 0% 14%;
  display: flex;
  justify-content:space-between;
  /* font-size: 10px; */
}
#submitbtn{
  margin: 20px 0px;
  background-color: black;
  color: white;
  border-radius: 20px;
  /* font-size: 10px; */
  padding: 10px 20px;
}
#logoimg{
  width: 17vw;
  height:7vh;
}
.footerTags{
  color: rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 100px) and (max-width: 800px)   {
  .aboutcontainer-four{
    display: grid;
    grid-template-columns:repeat(1,1fr) ;
    margin: 50px 14% 0% 14%;
    gap: 3%;  
  }
  .containerfooter{
    display: grid;
    grid-template-columns:repeat(1,2fr) ;
    row-gap: 10px;
  }
  #logoimg{
    width: 50vw;
  }
  
}
@media only screen and (min-width: 100px) and (max-width: 400px)   {
  .containerfooter>div{
    display: grid;
    grid-template-columns:repeat(1,1fr) ;
    row-gap: 10px;
    margin: 50px 20% 5% 14%;
  }
}
@media only screen and (min-width: 100px) and (max-width: 700px)   {
  .containerfooterLast{
    /* margin: 50px 15% 0% 14%; */
    display: grid;
    grid-template-columns:repeat(1,1fr) ;
    row-gap: 10px;
    width: 20%;
  }
}

