#container{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px 10px;
    gap: 20px;
    background-color:#F3F7FF;
    padding-bottom: 50px;
}

#sub-container{
    padding: 20px 10px;
    border-radius: 10px;
    /* margin-right: 10px; */
    background-color: #ffffff;
    
}

#sub-container>img{
    width:60px;
}
#sub-container>h2{
    color: #292962;
}

#sub-container>p{
    color: #6B81AF;
}