.cloud-top {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;

    & img {
        width: 100%;
        height: 100vp;
    }
}

.cloud-overlay {
    width: 40%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    margin: 0;

    @media screen and (max-width: 480px) {
        top: 50%;
        left: 50%;
        width: 60%;
        padding: 0;
        margin: 0;
    }
}

.cloud-heading {
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0;
}

.cloud-description {
    font-size: 1rem;
}

.cloud-second {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    padding: 1rem 2rem;

    & img {
        width: 95%;
    }

    @media screen and (max-width: 480px) {
        display: flex;
        flex-direction: column-reverse;
        padding: 1rem;
    }
}

.cloud-second-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.cloud-second-right {
    display: flex;
    justify-content: end;

    @media screen and (max-width: 480px) {
        justify-content: center;
    }
}

.cloud-content-model {
    background-color: #f3f7ff;
    padding-top: 60px;
    padding-bottom: 60px;
}

.cloud-content-heading,
.cloud-help-heading {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: rgb(41, 41, 98);

    @media screen and (max-width: 480px) {
        font-size: 2rem;
    }
}

.cloud-content-container {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 90%;
    gap: 2rem;

    @media screen and (max-width: 480px) {
        display: flex;
        flex-direction: column;
    }
}

.cloud-content-container>div {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-content: center;

    @media screen and (max-width: 480px) {
        width: 100%;
    }
}

.cloud-content-container>div>div {
    background-color: white;
    border-radius: 1rem;
    padding: 2rem 1rem;
    height: 300px;

    & img {
        width: 15%;
    }
}

.cloud-content-head,
.cloud-second-head,
.cloud-help-head {
    font-size: 24px;
    font-weight: 700;
    color: rgb(41, 41, 98);
}

.cloud-content-description,
.cloud-second-description,
.cloud-help-description {
    color: rgb(107, 121, 137);
    line-height: 24px;
    font-size: 15px;
    font-weight: 400;
}

.cloud-help-model {
    padding-top: 60px;
    padding-bottom: 60px;
}

.cloud-help-container {
    display: flex;
    width: 90%;
    justify-content: center;
    margin: auto;
    gap: 1rem;

    @media screen and (max-width: 480px) {
        flex-direction: column;
    }
}

.cloud-help-container>div {
    width: 30%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1rem;

    & img {
        width: 15%;
    }

    @media screen and (max-width: 480px) {
        width: 90%;
    }
}

.bottom-container1,
.bottom-container2,
.bottom-container3 {
    padding: 4rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    margin: auto;
    text-align: center;
    align-items: center;
    font-size: 15px;
}

.bottom-container1 {
    background-color: #0096fe;
}

.bottom-container2 {
    background-color: #64b4ec;
}

.bottom-container3 {
    background-color: #90c8e5;
}

@media screen and (max-width: 767px) {

    .bottom-container1,
    .bottom-container2,
    .bottom-container3 {
        display: flex;
        flex-direction: column;
    }

    .cloud-overlay {
        top: 50%;
    }

    .cloud-description {
        display: none;
    }

    .cloud-heading {
        font-size: 2rem;
    }

    .cloud-help-description {
        width: 90%;
        margin: auto;
    }

    .bottom-container1,
    .bottom-container2,
    .bottom-container3 {
        padding: 1.5rem 0.15rem;
        width: 99%;

        & p {
            width: 80%;
        }
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .cloud-description {
        display: none;
    }

    .cloud-overlay {
        top: 50%;
    }

    .cloud-content-container>div>div {
        height: 450px;
    }

    .bottom-container1,
    .bottom-container2,
    .bottom-container3 {
        padding: 2rem 1rem;
        width: 99%;

        & p {
            width: 80%;
        }

    }
}