#data-part-1>img{
    height: 100vh;
    width: 100%;
    margin-bottom: 80px;
}
#data-part-1>h1{
    text-align: center;
    display: flex;
    justify-content: center;
    /* position: absolute; */
    z-index: 2;
    text-align: center;
    color: #ffffff;
    margin-top:-355px ;
    position: absolute;
    left: 34%;
    width: 30%;
    text-align: center;
    font-size: 55px;
}
#data-part-1>p{
    text-align: center;
    display: flex;
    justify-content: center;
    /* position: absolute; */
    z-index: 2;
    text-align: center;
    color: #ffffff;
    margin-top:-210px ;
    position: absolute;
    left: 38%;
    width: 25%;
    text-align: center;
}

#data-part-2{
    width: 80%;
    padding: 30px 0px 30px 5%;
    margin: auto;
}
#data-part-2>h1{
    margin: auto;
    font-size: 50px;
    text-align: center;
    color: #292962;
    font-weight: 650;
    width: 70%;
    margin-left: 95px;
}

#data-part-2>div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    gap: 20px;
    width: 100%;
    padding: 50px 0px;
}
#data-part-2>div>div{
    /* border: solid 1px black; */
    width: 100%;
    padding: 30px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px 0px;
    border-radius: 10px;
}
#data-part-2>div>div>p{
    padding: 0px 10%;
}
#data-part-2>div>div>img{
    width: 50px;
}
#data-part-2>div>div>h3{
    font-size: 20px;
    color: #292962;
    width: 40%;
    margin: auto;
    margin-top: 10px;
}

#data-part-2>div>:nth-child(4),#data-part-2>div>:nth-child(5){
    margin-left: 200px;
}

#data-part-3{
    width: 100%;
    padding: 100px 10%;
    margin: auto;
    background-color: #F3F7FF;
}

#data-part-4{
    width: 80%;
    margin: auto;
    padding-bottom: 100px;
}

#data-part-4>h1{
    font-size: 50px;
    color: #292962;
    font-weight: 650;
    width: 70%;
}

#data-part-4>p{
    width: 40%;
    color:#6B86A8;
    font-size: 15px;
}

#data-part-4>img{
    width: 100%;
}

#data-part-5{
    width: 80%;
    padding: 100px 10%;
    background-color: #F3F7FF;
}

#data-part-5>h1{
    margin: auto;
    font-size: 50px;
    text-align: center;
    color: #292962;
    font-weight: 650;
    width: 70%;
    /* margin-left: 95px; */
    padding-bottom: 80px;
}

#data-part-5>div{
    display: flex;
    justify-content: space-between;
}

#data-part-6{
    width: 80%;
    margin: auto;
    padding: 100px 0px;
}

#data-part-6>h1{
    margin: auto;
    font-size: 50px;
    text-align: center;
    color: #292962;
    font-weight: 650;
    width: 70%;
    /* margin-left: 95px; */
    padding-bottom: 80px;
}

#data-part-6>div{
    display: flex;
    justify-content: space-between;
}

#data-part-6>div>div{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 31%;
    text-align: center;
    border-radius: 10px;
}

#data-part-6>div>div>h3{
    font-size: 22px;
    color: #292962;
    width: 70%;
    text-align: center;
    margin: auto;
    padding: 50px 0px;
}

#data-part-6>div>div>img{
    width: 100%;
}


@media only screen and (min-width: 300px) and (max-width: 800px){
    #data-part-1>img{
        height: 70vh;
        margin-bottom: 50px;
    }
    #data-part-1>h1{
        margin-top: -420px;
        /* margin-left: 95%; */
        font-size: 50px;
    }
    #data-part-1>p{
        margin-top:-220px ;
        left: 15%;
        width: 70%;
        font-size: 20px;
    }
    
    #data-part-2{
        width: 100%;
        padding: 0px;
        margin: auto;
    }
    #data-part-2>h1{
        margin: auto;
        font-size: 30px;
        text-align: center;
        color: #292962;
        font-weight: 650;
        width: 100%;
        /* margin-left: 95px; */
    }
    
    #data-part-2>div{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        text-align: center;
        gap: 20px;
        width: 100%;
        padding: 50px 0px;
    }
    #data-part-2>div>div{
        /* border: solid 1px black; */
        width: 100%;
        padding: 30px 0px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px 0px;
        border-radius: 10px;
    }
    #data-part-2>div>div>p{
        padding: 0px 10%;
    }
    #data-part-2>div>div>img{
        width: 50px;
    }
    #data-part-2>div>div>h3{
        font-size: 20px;
        color: #292962;
        width: 40%;
        margin: auto;
        margin-top: 10px;
    }
    
    #data-part-2>div>:nth-child(4),#data-part-2>div>:nth-child(5){
        margin-left: 0px;
    }
    
    #data-part-3{
        width: 100%;
        padding: 100px 10%;
        margin: auto;
        background-color: #F3F7FF;
        text-align: left;
    }
    
    #data-part-4{
        width: 90%;
        margin: auto;
        padding-bottom: 100px;
    }
    
    #data-part-4>h1{
        font-size: 30px;
        color: #292962;
        font-weight: 650;
        width: 50%;
        text-align: center;
        margin: auto;
        padding-bottom: 50px;
    }
    
    #data-part-4>p{
        width: 95%;
        color:#6B86A8;
        font-size: 15px;
        margin: auto;
        text-align: center;
        padding-bottom: 50px;
    }
    
    #data-part-4>img{
        width: 110%;
    }
    
    #data-part-5{
        width: 100%;
        padding: 100px 0px;
        background-color: #F3F7FF;
    }
    
    #data-part-5>h1{
        margin: auto;
        font-size: 40px;
        text-align: center;
        color: #292962;
        font-weight: 650;
        width: 70%;
        /* margin-left: 95px; */
        padding-bottom: 80px;
    }
    
    #data-part-5>div{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    #data-part-5>div>img{
        margin: auto;
        width: 130px;
    }
    
    #data-part-6{
        width: 100%;
        margin: auto;
        padding: 100px 0px;
    }
    
    #data-part-6>h1{
        margin: auto;
        font-size: 40px;
        text-align: center;
        color: #292962;
        font-weight: 650;
        width: 70%;
        /* margin-left: 95px; */
        padding-bottom: 30px;
    }
    
    #data-part-6>div{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
    
    #data-part-6>div>div{
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        width: 95%;
        text-align: center;
        border-radius: 10px;
        padding: 15px;
    }
    
    #data-part-6>div>div>h3{
        font-size: 22px;
        color: #292962;
        width: 70%;
        text-align: center;
        margin: auto;
        padding: 20px 0px;
    }
    
    #data-part-6>div>div>img{
        width: 100%;
    }
}