.approach {
    width: 90%;
    margin: auto;
    gap: 0;
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    color: rgb(41, 41, 98);
    padding-top: 2rem;

    & p {
        margin: 0;
    }
}

.approach>img {
    width: 90%;
}