.navbar,
.nav-scrolled {
    width: 100%;
    top: 0;
    height: auto;
    z-index: 10;
    transition: background-color 0.3s ease;
    position: fixed;
}

.nav-container {
    display: flex;
    padding: 0 1rem;
    width: 90%;
    justify-content: space-between;
    margin: auto;
}

.navbar {
    background: transparent;
    padding: 1rem 0;
}

.logo {
    display: flex;
    align-items: center;
}

.dropdown-content {
    z-index: 12;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    height: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

.dropdown.open .dropdown-content {
    display: block;
}

.dropdown.open #tabss {
    padding: 0px;
    background-color: #292962;
}

.dropdown.open #tabss {
    padding: 20px;
}

.nav-links {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1.3rem 1rem;
}

a {
    color: white;
}

.nav-menu {
    width: 40%;
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.nav-scrolled {
    background-color: #292962;
    padding: 0;
}

.nav-link {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400;
}

.nav-link>i {
    margin-left: 10px;
    margin-top: 3px;
}

.nav-link.clicked>i {
    transform: rotate(180deg);
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: transform 0.3s ease;
}

.nav-menu.active {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 65%;
    background-color: #292962;
    flex-direction: column;
    padding-top: 50px;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 11;
}

.line {
    width: 100%;
    height: 3px;
    background-color: white;
    transition: transform 0.3s ease;
}

.nav-menu.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.nav-menu.active .line:nth-child(2) {
    opacity: 0;
}

.nav-menu.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

@media only screen and (min-width: 301px) and (max-width: 850px) {
    .hamburger {
        display: flex;
        margin-left: 60%;
    }

    .nav-links {
        display: flex;
        padding: 10px;
        flex-direction: column;
    }

    .dropdown {
        padding: 10px;
        margin-left: 40px;
        border: none;
    }

    .nav-menu.active .nav-links {
        display: block;
    }

    .dropdown.open #tabss {
        padding: 20px;
    }

    .dropdown-content {
        z-index: 12;
        display: none;
        position: relative;
        background-color: #292962;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        height: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .dropdown:hover .nav-link {
        padding: 0px;
        background-color: #292962;
        border: none;
    }

    .dropdown-arrow {
        height: 0;
        width: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #333;
        position: relative;
        top: 45px;
        left: 350px;
    }

    .dropdown:hover .dropdown-arrow {
        top: 35px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #333;
        border-top: 10px solid transparent;
    }

    .nav-menu:not(.active) .nav-links {
        display: none;
    }

    a {
        display: block;
        padding-left: 50px;
        padding-top: 10px;
    }
}