.services-heading {
    font-size: 48px;
    color: rgb(41, 41, 98);
    font-weight: 700;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}

.service-container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-bottom: 2rem;
}

.services-model {
    width: 90%;
    margin: auto;
}

.service-div-odd,
.service-div-even {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-div-even {
    flex-direction: row-reverse;
}

.service-left {
    width: 40%;
}

.service-right {
    width: 50%;

    & img {
        width: 90%;
    }
}

.service-number {
    font-size: 4em;
    color: gray;
    font-weight: 700;
    margin: 0;
}

.service-title {
    font-size: 1.5rem;
    color: rgb(41, 41, 98);
    font-weight: 700;
}

.service-description {
    font-size: 1.1rem;
    color: gray;
    line-height: 24px;
}

@media screen and (max-width:767px) {
    .service-container {
        gap: 1rem;
    }

    .service-div-odd {
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .service-div-even {
        flex-direction: column-reverse;
        align-content: flex-start;
        gap: 1rem;
    }

    .service-div-odd {
        width: 100%;
    }

    .service-left,
    .service-right {
        width: 90%;
    }

    .service-right {
        & img {
            width: 100%;
        }
    }
}