.techstack-model {
    width: 90%;
    margin: auto;
    text-align: center;
}

.techstack-options {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: 1px solid whitesmoke;

    & button {
        width: 15%;
        padding: 15px 20px;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
        border: none;
        background-color: white;

        &:hover {
            color: #33b89f;
        }
    }
}

.techstack-heading {
    font-size: 36px;
    font-weight: 700;
    color: rgb(41, 41, 98);
}

.techstack-container {
    display: grid;
    border-radius: 1rem;
    grid-template-columns: repeat(6, 1fr);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 32px;
    gap: 1rem;

    & div {
        margin: auto;
        height: 150px;
        padding: 32px 16px;
        font-size: 20px;
        font-weight: 700;
        border-radius: 8px;
        text-align: center;
        width: 60%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}

@media screen and (max-width:767px) {
    .techstack-options {
        flex-direction: column;

        & button {
            width: 100%;
            text-align: left;
            padding: 15px 0 20px;
        }
    }

    .techstack-container {
        display: flex;
        flex-direction: column;

        & div {
            width: 90%;
            height: 130px;
        }
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .techstack-container {
        grid-template-columns: repeat(4, 1fr);
    }
}