.about {
    /* overflow-x: hidden; */
  }
  
  .aboutConatinertwo{
    margin: 0% 10%;
    padding-right: 3.5%;
    margin-top: 70px;
  }
  
  
  .fullViewportImg {
    width: 100vw; 
    width: 100%;
  }
  .aboutusOne{
    display: flex;
    text-align: left;
    justify-content: center; 
    align-items: center;
    
  }
  
  .mulish-aboutusTextOne {
  }

  .mulish-aboutusTextTwo {
  }

   .aboutusTextOne{
    font-size:23px;
    font-weight:650;
  }
  .aboutusTextTwo{
    font-size: 10px;
    color:rgba(0, 0, 0, 0.5);
  }

  .aboutusOneConatinerone{
    margin: 0% 5%;
}
/* 3rd */
.container_three{
  margin: 0% 20%;
  padding-right: 3.5%;
  margin-top: 70px;
  display: flex;
  gap: 50px;
  font-size: 10px;
  text-align: left;
  
}
.container_threesub{
  display: flex;
}
.imgperson{
  width: 5vw;
}