.about {
    /* overflow-x: hidden; */
  }
  
  .aboutConatinertwo{
    margin: 0% 14% 0% 14%;
    /* padding-right: 3.5%; */
    margin-top: 70px;
  }
  
  
  .fullViewportImg {
    width: 100vw; 
    width: 100%;
  }
  .aboutusOne{
    display: flex;
    text-align: left;
    justify-content: center; 
    align-items: center;
    
  }
  
  .mulish-aboutusTextOne {
  }

  .mulish-aboutusTextTwo {
  }

   .aboutusTextOne{
    font-size:23px;
    font-weight:650;
  }
  .aboutusTextTwo{
    font-size: 10px;
    color:rgba(0, 0, 0, 0.5);
  }

  .aboutusOneConatinerone{
    /* margin: 0% 5%; */
}
/* 3rd */
  .container-three{
    margin: 0% 14% 0% 14%;
  }

.container_three{
  display: flex;
  gap: 40px;
  font-size: 10px;
  text-align: left;
}

.container_threesub{
  display: flex;
  align-items: center;
  /* background-color: black; */
}
.imgperson{
  width: 3vw;
  border-radius : 50%;
}
.container_threesubPosition{
  margin: 0px 10px;
}

/*footer */
.aboutcontainer-four{
  display: flex;
  text-align: left;
  margin: 50px 14% 0% 14%;
  gap: 30px;
  
}
.aboutcontainer-subfour{
  display: flex;
  font-size:10px;
}
input[type="text"]::placeholder {
  font-size: 10px;
  font-weight: normal; 
}
.formdata{
  font-size: 10px;
  font-weight: normal; 
  padding:5px 10px;
  border-Radius:5px;
  border: 1px solid #ccc;
  width: calc(100% - 22px);
}
.formdata:focus{
  border-color: green;
}
.containerfooter{
  margin: 50px 25% 0% 14%;
  display: flex;
  justify-content:space-between;
  font-size: 10px;
  text-align: left;
  /* background-color: red; */
}